.CollectionArtPiece {
  border-radius: 30px;
  background-color: white;
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.CollectionArtPiece h2 {
  text-align: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.CollectionArtPiece button {
  border: none;
  padding: 5px;
  margin: 2px;
  border-radius: 20px;
}

.CollectionArtPiece button:hover {
  background-color: hotpink;
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  .CollectionArtPiece {
    padding: 5px;
  }
  .CollectionArtPiece h2 {
    font-size: 10px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
  }

  .CollectionArtPiece img {
    max-width: 100%;
    padding: 5px;
  }
}
