.Collection ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.Collection .info {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
  margin-bottom: 10px;
}

.Collection .message {
  background-color: rgba(255, 255, 255, 0.39);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  width: 450px;
  text-align: center;
}

.Collection .landingbuttons {
  text-decoration: none;
  font-weight: 700;
}

.Collection .landingbuttons:hover {
  text-decoration: none;
  font-weight: 900;
  color: rgba(33, 175, 156, 0.87);
}

.Collection .SingleArtPiece {
  border: 3px solid white;
}
.Collection .SingleArtPiece:hover {
  box-sizing: border-box;
  border: 3px solid rgba(33, 175, 156, 0.87);
}
