.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Details .art-image {
  height: 300px;
  width: auto;
}

.Details .forgery-text {
  background-color: rgba(0, 255, 128, 0.432);
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  text-align: center;
}

.Details .animation {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.Details .info-container {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 30px;
  display: flexbox;
}

.Details .forgery {
  float: right;
  max-width: 75px;
  border-radius: 20px;
}
.Details .forgery:hover {
  float: right;
  max-width: 75px;
  opacity: 0.5;
  background-color: yellow;
}
