.EasyQuiz {
  text-align: center;
}

.EasyQuiz .questions {
  background-image: linear-gradient(#973439, #55070c);
  border: 2px inset #581115;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0.3) 0px 18px 36px -18px;
  width: 80%;
  height: auto;
  display: inline-grid;
  align-self: center;
}

.EasyQuiz .ul {
  list-style: none;
}

.EasyQuiz .li {
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.EasyQuiz .answers:hover {
  color: red;
}

.EasyQuiz .question-text {
  color: #c2c6be;
  font-size: 24px;
}
.EasyQuiz .noliststyle {
  list-style: none;
}

.EasyQuiz .testing {
  padding: 5px;
  margin: 4px;
  background-color: tan;
  border: 1px solid rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  width: 200px;
}
.EasyQuiz .testing:hover {
  background-color: rgb(223, 201, 173);
  cursor: pointer;
}

.EasyQuiz .results {
  margin: 0 auto;
  background-image: linear-gradient(#973439, #55070c);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0.3) 0px 18px 36px -18px;
  width: 50%;
  height: auto;
}
.EasyQuiz .button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}
