.Quiz .quiz-button {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 75%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.Quiz .quiz-text {
  padding-right: 10px;
  text-align: left;
}

.Quiz .button-container {
  display: flex;
  justify-content: space-evenly;
}
.Quiz .easy-button {
  height: 170px;
  width: auto;
}

.Quiz .advanced-button {
  height: 170px;
  width: auto;
}
