/* resets */

body,
h1,
p {
  margin: 0;
}

html,
body {
  height: 100vh;
}

body .App {
  background-image: radial-gradient(#57896e, #302724);
  background-repeat: no-repeat;
  font-family: "Kanit", sans-serif;
  bottom: 0;
}

/* 90aff6 */
